.flash--error {
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    background: #7b0001;
}

.flash--info {
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    background: #10477b;
}

#dismissable-flash {
    animation: dismiss-flash 3s forwards;
}

@keyframes dismiss-flash {
    0% {
        margin-top: 52px;
        opacity: 1;
    }

    50% {
        margin-top: 52px;
        opacity: .9;
    }

    100% {
        margin-top: -100px;
        opacity: 0;
    }
}